/* --- Barra de Navegação --- */
.navbar {
    background-color: #2c3e50; /* Um azul escuro */
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-brand {
    margin-left: 20px;
}

.nav-brand a {
    color: #ecf0f1; /* Branco levemente acinzentado */
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-brand a span {
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #34495e; /* Um azul mais escuro no hover */
}